<h1>Terms of Service</h1><br>

<h3>General Information</h3><br>
<p>These terms of service apply to non-commercial commissions only.  They are subject to revision at any time.
<p><strong>By sending payment, you [agree] that you have read and understood these Terms of Service, and you [agree to be bound by them].</strong></p><br>

<div class="panel">
<h3>Contact Information</h3><br>
<p>I only discuss commissions via email.  However, if you lose contact with me, I'm also active on Nabyn and DeviantArt.</p>
<ol><ul>
<li>Email: furiana (at) live (dot) com
<li>Nabyn: http://furiana.nabyn.com
<li>DeviantArt: http://furiana.deviantart.com
</ul></ol>
</div>

<div class="panel">
<h3>How to Order</h3><br>
<p>Send your commission request to furiana at live dot com.  </p>
<ol><ul>
<li> You must include all relevant information including references and deadlines, as these can affect the final price.  If you would like the final piece to be shipped, please include the shipping address as well.
If the commission will involve characters that belong to other people, I will also need written permission from each character's owner before I begin.  Without it, I will not include them in the piece.
<li> I will send you a final quote.  This stays good for 3 weeks.  
<li> If you agree to the amount, I will send you a PayPal invoice for the first payment.  This must be paid within 30 days or the commission is considered cancelled.
</ul></ol>

<h4>Sketch phase</h4><br>
<p>After I receive the first payment, I will begin the sketch.</p>
<ol><ul>
<li>When it is complete, I will send you a watermarked, low resolution file (800 pixels on the longest side) of the rough sketch.  This is the best time to ask for revisions. 
<li>You will receive another WIP after each round of revisions until you approve the sketch.  Please note that free revisions are limited, and additional revisions cost more: see Revisions for more information.
</ul></ol>

<h4>Coloring phase</h4><br>
<p>If applicable, coloring begins once you approve the sketch.</p>
<ol><ul>
<li> I will send a WIP when the background is completed.  I can also send WIPs upon request.  Minor edits are allowed during this stage, but depending on the medium, the piece, and the degree of completion, they may not be possible.
</ul></ol>

<h4>Final payment and shipping</h4><br>
<h9> When the image is finished, I will send a low-resolution, heavily watermarked version as proof of completion.  I will also send an invoice for the final payment.</h9><br><br>
<ol><ul><li>Refunds are no longer possible at this stage.
<li>Once the final payment has been made, I will send you the high-resolution version of the image (2000 pixels on the longest side).  I can also ship the original to you, as outlined below.</ul></ol>
</div>

<div class="panel">
<h3>Payment</h3><br>
<h9>I send PayPal invoices, which let you use PayPal, credit card, or bank transfer.  I accept USD and CAD.</h9><br><br>
<ol><ul><li>For orders under $100, I require half up front and half upon proof of completion.
<li>For orders above $100, payment plans are available.  I always require 30% before beginning the sketch.  I usually require another 30% before I begin coloring, and the rest (40%) upon proof of completion.  Please contact me for more information1
</ul></ol>
</div>

<div class="panel">
<h3>Deadlines and Turnaround</h3><br>
<p>You can see my queue <%= link_to "here", queue_path %>. Order is based on when payments are received.
<p>Single-character sketches take two to four business days to complete.  Full-color illustrations average two to three months, depending on their complexity.  The rest are somewhere in between.
<ol><ul><li>If you have a deadline, I will do my best to meet it.  However, unless I'm told about the deadline at the beginning (before the first payment is made), I cannot guarantee that the piece will be done in time.  
<li>Rush orders are subject to non-refundable flat fee of 25%.  I also offer express shipping at the customer's expense.
</ul></ol>
</div>

<div class="panel">
<h3>Refunds</h3><br>
<p>The artist and the customer have the right to cancel the commission at any time.
<ol><ul><li>Under most circumstances, the customer can choose between a partial refund plus any work completed, or a full refund.  If the customer chooses a partial refund, they can ask for the original to be shipped at their expense.  If the customer chooses a full refund, they forfeit their claim to the image, and the artist can recycle it as she sees fit.
<li>If the artist loses contact with the customer for 6 weeks without notice, the artist will cancel the commission and offer a refund.  If the customer does not respond for another 3 weeks, the artist has the right to keep the balance and recycle the image as she sees fit.
</ul></ol></div>

<div class="panel">
<h3>Revisions</h3><br>
<p>For pieces under $100, I allow one major edit and two minor edits.
<p>For pieces over $100, I allow three major edits and four minor edits.
<p>Additional minor edits cost $5 each.  Additional major edits cost $10 and up.  Completely redrawing the image costs the same as a sketch.
<ol><ul><li>Minor edits include: redrawing a hand; adding a simple bracelet; adding a boulder to the background; adjusting the color of a small, shaded area (ex, from blue to greenish-blue).
<li>Major edits include: redrawing an arm; adding a complex headdress; adding cliffs to the background; completely changing the color of a large, shaded area (ex, from blue to red).
</ul></ol>
<p>The artist's mistakes do not count towards the total and will be fixed for free.  This does not include errors caused by incomplete references or forgetfulness/poor communication on the customer's part.

</div>

<div class="panel">
<h3>Usage Rights</h3><br>
<p>The customer is paying for the Artist's service, not for the rights to the image.  The artist retains authorship of the image at all times.  The Artist also retains all rights unless she explicitly states otherwise.
<p>All of the Artist's artwork is distributed under a Creative Commons Attribution, Non-Commercial, Share-Alike 3.0 License.  (For the details, please see <%= link_to "this page", "http://creativecommons.org/licenses/by-nc-sa/3.0/" %>.)
<ol><ul><li>If the customer wants to use the piece for profit, additional rights can be licensed for a fee.  Please contact me with how the piece would be used (on a CD cover, as online advertising, etc.) and how long it would be for (one time use, six months, etc.) in order to receive a quote.</ul></ol>